# Exclude All
**
.DS_Store

# Explicit includes
!.github/
!.github/**
!.vscode/
!.vscode/**
!specs
!specs/**
!doc/
!doc/**
!.editorconfig
!.env.defaults
!.gitattributes
!.gitignore
!CHANGELOG.md
!LICENSE
!Makefile
!README.md
