# Exclude All
/*

# Explicit includes
!.github
!.vscode
!specs
!doc

!.editorconfig
!.env.defaults
!.gitattributes
!.gitignore
!CHANGELOG.md
!LICENSE
!Makefile
!README.md

# Artifacts
.DS_Store
.vscode/*.log
